:root{
    --domination-font-color: #757575;
    --titles-font-color: #212121;
    --domination-bcg-color: #E5E5E5;
    --team-bcg-color: #F5F4FA;
    --footer-bcg-color: #2F303A;
    --hover-color: #2196F3;
    --button-portfolio-color: #F5F4FA;
}

body{
    font-family: 'Roboto', sans-serif;
    color:var(--domination-font-color);
    font-weight: 500;
    letter-spacing: 0.03em;
    
}
ul{
    list-style: none;
}

/* logo */
.logo{
    color: var(--hover-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}
.header-logo{
    color: #000000;
}
.footer-logo{
    color:#ffffff;
}
/* навигация */

.nav-list .link{
    color: var(--titles-font-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;

    text-decoration: none;
}
.nav-list .link:hover{
    color: var(--hover-color);
}
.nav-list .link:focus{
    color: var(--hover-color);
}
.nav-contacts .link{
    color:var(--domination-font-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;

    text-decoration: none;
}
.nav-contacts .link:hover{
    color: var(--hover-color);
}
.nav-contacts .link:focus{
    color: var(--hover-color);
}


    /* герой  */
.hero{
    background-color:var(--footer-bcg-color);
    color: #ffffff;
}
.hero-title{
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero.button{
    background-color: var(--hover-color);
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    border-color: var(--hover-color) ;
    border-radius: 3%;
}
   /* Особенности */
.del{
    display: none;
}
.peculiarities-list h3{
    color: var(--titles-font-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.peculiarities-list p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
    /* чем мы занимаемся */
.doing-title{
    color: var(--titles-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
    /* наша команда */

.section-our-team{
    background-color: var(--team-bcg-color ) ;
}
.our-team-title{
    color: var(--titles-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.our-team-list h3{
    color: var(--titles-font-color);
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.2;
}
.our-team-list p{
    font-size: 14px;
    line-height: 1.7;
}
   /* footer */
.footer-styles{
    background-color: var(--footer-bcg-color);
}
.address-list{
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--domination-font-color);
}
.address-list a{
    text-decoration: none;
}

.address-list .link{
    color: rgba(255, 255, 255, 0.6);
}

.address-list .link:hover{
    color: var(--hover-color);
}
.address-list .link:focus{
    color: var(--hover-color);
}
.address-text{
    color: #ffffff;
}


/* PORTFOLIO */
    /* ???? buttons */
    .buttons-list{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
    }
    .button.portfolio{
        font-family:  inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }
    .buttons-list .button{
        background-color: var(--team-bcg-color);

        cursor: pointer;
    }
    .buttons-list .button:hover{
        background-color: var(--hover-color);
        color: #ffffff;
    }
    .buttons-list .button:focus{
        background-color: var(--hover-color);
        color: #ffffff;
    }
    

    /* Services */
    .services h2{
        color: var(--titles-font-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .services a{
        text-decoration: none;
    }
    .services p{
        color: var(--domination-font-color);
        font-size: 16px;
        line-height: 1.8;
    }
    


    